.idea
.ipynb_checkpoints
*.ipynb
bot/Token.txt
bot/Token_fb.txt
__pycache__/
bot/archiviste-mimbag.json
bot/env
.vscode
data/*
data_access/db_dumps/*
!data_access/db_dumps/init.sql
__pycache__
*.gensim
*.gensim.*
*.pkl
